/* core surpass element styles - basic functionality relies on these */

.surpass_container {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
}

.surpass_container [hidden] {
  display: none !important;
}

.surpass_input-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.surpass_input-container > input {
  flex: 1;
  margin: 0;
}

.surpass_input-shroud {
  position: absolute;
  top: 0; left: 0; right: 0;
}
.surpass_input-shroud-active {
  bottom: 0;
}
.surpass_input-shroud-inactive {
  bottom: 100%;
}
.surpass_input-shroud-empty {
  opacity: .25;
}
.surpass_input-shroud.surpass_input-shroud-empty {
  color: transparent;
}

.surpass_mask-button {
  position: relative;
}

.surpass_gross-simpl-spot {
  border: none;
  height: 1em; width: 1em;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.surpass_gross-simpl-x0,
.surpass_gross-simpl-x1,
.surpass_gross-simpl-x2 {
  transform: translate(-50%, -50%) scale(.5);
}

.surpass_gross-simpl-t0,
.surpass_gross-simpl-r0,
.surpass_gross-simpl-r1,
.surpass_gross-simpl-b0,
.surpass_gross-simpl-l0,
.surpass_gross-simpl-x0
{
  left: 25%;
}
.surpass_gross-simpl-t1,
.surpass_gross-simpl-b1,
.surpass_gross-simpl-x1 {
  left: 50%;
}
.surpass_gross-simpl-t2,
.surpass_gross-simpl-r2,
.surpass_gross-simpl-b2,
.surpass_gross-simpl-l1,
.surpass_gross-simpl-l2,
.surpass_gross-simpl-x2 {
  left: 75%;
}
.surpass_gross-simpl-t1,
.surpass_gross-simpl-r0,
.surpass_gross-simpl-b0,
.surpass_gross-simpl-b2,
.surpass_gross-simpl-l1 {
  top: 25%;
}
.surpass_gross-simpl-r2,
.surpass_gross-simpl-l0,
.surpass_gross-simpl-x0,
.surpass_gross-simpl-x1,
.surpass_gross-simpl-x2 {
  top: 50%;
}
.surpass_gross-simpl-t0,
.surpass_gross-simpl-t2,
.surpass_gross-simpl-r1,
.surpass_gross-simpl-b1,
.surpass_gross-simpl-l2 {
  top: 75%;
}

.surpass_gross-simpl-round {
  border-radius: 50%;
}
.surpass_gross-simpl-pointy {
  border-radius: 0;
}

.surpass_gross-simpl-shape {
  box-sizing: content-box;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: 0;
  border-style: solid;
}
.surpass_gross-simpl-block {
  width: 1em;
  border-bottom-width: 1em;
  border-left-width: 0;
  border-right-width: 0;
}
.surpass_gross-simpl-tri {
  width: 0;
  border-bottom-width: .866em;
  border-left-width: .5em;
  border-right-width: .5em;
  transform: translateY(6.7%);
}
