/* surpass theme styles - this is just aesthetics
   though surpass_gross-simpl-[rby] need to stay (red|blue|yellow)ish
   for color hints to remain useable */

.surpass_gross-simpl-r {
  border-bottom-color: #f00;
}
.surpass_gross-simpl-g {
  border-bottom-color: #0c0;
}
.surpass_gross-simpl-b {
  border-bottom-color: #00f;
}

.surpass_gross-simpl-dot {
  border-bottom-color: #222;
}

.surpass_container {
  border: 1px solid gray;
  border-radius: 2px;
}

.surpass_check-state {
  transition-property: color;
  transition-duration: .25s;
}
.surpass_check-state::before {
  content: '\25bc';
  display: inline-block;
  margin: 0 .5ch;
  transition-property: transform;
  transition-duration: .25s;
}
.surpass_check-available .surpass_check-state::before {
  transform: rotate(-90deg);
}
.surpass_check-available {
  color: #555;
  background-color: #eee;
}
.surpass_check-prompting {
  color: #882;
  background-color: #ffc;
}
.surpass_check-unmatching {
  color: #822;
  background-color: #fcc;
}
.surpass_check-matching {
  color: #282;
  background-color: #cfc;
}

input {
  border: 0;
  font-family: monospace, monospace;
  padding: 0 .5ch;
}

@keyframes surpass_blink-text {
  50% {
    color: transparent;
  }
}

@keyframes surpass_dot-dance {
  25% {
    top: 40%;
  }
  50% {
    top: 55%;
  }
  55% {
    top: 50%;
  }
}

.surpass_mask-button-typing .surpass_gross-simpl-spot {
  animation-name: surpass_dot-dance;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.surpass_mask-button-typing .surpass_gross-simpl-x0 {
  animation-delay: 0s;

}
.surpass_mask-button-typing .surpass_gross-simpl-x1 {
  animation-delay: .25s;
}
.surpass_mask-button-typing .surpass_gross-simpl-x2 {
  animation-delay: .5s;
}

.surpass_input-shroud {
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 1.25;
  transition: bottom 0.25s;
  animation: surpass_blink-text 1s step-start 0s infinite;
}

.surpass_mode-button {
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  border-left: 1px solid black;
  width: 25px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  font-size: 20px;
}

.surpass_mode-indicator {
  margin: 0;
  margin-left: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color .25s, margin .1s;
}
.surpass_expose-mode .surpass_mode-indicator {
  margin-right: 7px;
}
.surpass_mask-mode .surpass_mode-indicator {
  margin-right: 32px;
}
.surpass_shroud-mode .surpass_mode-indicator {
  margin-right: 57px;
}
.surpass_check-available .surpass_mode-indicator {
  background-color: #555;
}
.surpass_check-prompting .surpass_mode-indicator {
  background-color: #882;
}
.surpass_check-unmatching .surpass_mode-indicator {
  background-color: #822;
}
.surpass_check-matching .surpass_mode-indicator {
  background-color: #282;
}

.surpass_double-toggle-button {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid black;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1em;
  font-size: 14px;
  transition-property: background-color;
  transition-duration: .25s;
}
.surpass_check-row {
  border-top: 1px solid black;
  height: 24px;
  transition-property: height, border;
  transition-duration: 0.25s;
}

.surpass_gross-simpl-spot {
  font-size: 10px;
  transition-property: top, left, border-radius, transform;
  transition-duration: 0.25s;
}

.surpass_gross-simpl-shape {
  transition-property: width, border-width, border-bottom-color;
  transition-duration: 0.25s;
}

/*

## Layout

Everything below here pretty much defines basic layout rules: there shouldn't
be any need to adjust anything unless you're targeting a browser without
modern Flexbox support.

*/

.surpass_row {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
}

.surpass_container {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.surpass_check-row[hidden] {
  visibility: hidden;
  height: 0;
  border: 0 solid;
  transition: visibility step-end .25s, height .25s, border .25s;
}

.surpass_input-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.surpass_input-container > input {
  flex: 1;
  margin: 0;
}

.surpass_input-shroud {
  position: absolute;
  top: 0; left: 0; right: 0;
}
.surpass_input-shroud-active {
  bottom: 0;
}
.surpass_input-shroud-inactive {
  bottom: 100%;
}
.surpass_input-shroud-empty {
  opacity: .25;
}
.surpass_input-shroud.surpass_input-shroud-empty {
  color: transparent;
}

.surpass_mask-button {
  position: relative;
}

/*
## Gross Simplification shape / positioning rules

You shouldn't have any reason to mess with these unless you're targeting
something without CSS Transform / border radius support, in which case you will
essentially need to overhaul the entire Gross Simplification implementation.

If you want to adjust the size of the shapes, adjust the `font-size` of
`.surpass_gross-simpl-spot` defined above (`10px`, by default).
*/

.surpass_gross-simpl-spot {
  border: none;
  height: 1em; width: 1em;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.surpass_gross-simpl-x0,
.surpass_gross-simpl-x1,
.surpass_gross-simpl-x2 {
  transform: translate(-50%, -50%) scale(.5);
}

.surpass_gross-simpl-t0,
.surpass_gross-simpl-r0,
.surpass_gross-simpl-r1,
.surpass_gross-simpl-b0,
.surpass_gross-simpl-l0,
.surpass_gross-simpl-x0
{
  left: 25%;
}
.surpass_gross-simpl-t1,
.surpass_gross-simpl-b1,
.surpass_gross-simpl-x1 {
  left: 50%;
}
.surpass_gross-simpl-t2,
.surpass_gross-simpl-r2,
.surpass_gross-simpl-b2,
.surpass_gross-simpl-l1,
.surpass_gross-simpl-l2,
.surpass_gross-simpl-x2 {
  left: 75%;
}
.surpass_gross-simpl-t1,
.surpass_gross-simpl-r0,
.surpass_gross-simpl-b0,
.surpass_gross-simpl-b2,
.surpass_gross-simpl-l1 {
  top: 25%;
}
.surpass_gross-simpl-r2,
.surpass_gross-simpl-l0,
.surpass_gross-simpl-x0,
.surpass_gross-simpl-x1,
.surpass_gross-simpl-x2 {
  top: 50%;
}
.surpass_gross-simpl-t0,
.surpass_gross-simpl-t2,
.surpass_gross-simpl-r1,
.surpass_gross-simpl-b1,
.surpass_gross-simpl-l2 {
  top: 75%;
}

.surpass_gross-simpl-round {
  border-radius: 50%;
}
.surpass_gross-simpl-pointy {
  border-radius: 0;
}

.surpass_gross-simpl-shape {
  box-sizing: content-box;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: 0;
  border-style: solid;
}
.surpass_gross-simpl-block {
  width: 1em;
  border-bottom-width: 1em;
  border-left-width: 0;
  border-right-width: 0;
}
.surpass_gross-simpl-tri {
  width: 0;
  border-bottom-width: .866em;
  border-left-width: .5em;
  border-right-width: .5em;
  transform: translateY(6.7%);
}
